@page
@model CapstoneR2.Pages.QrCode.ViewPatientModel
@{
}
<div class="container">

    <h2 style="font-size: 24px; text-decoration:underline; font-family:'Book Antiqua';" class="text-center">PATIENT PROFILE</h2>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-5 d-flex">
                <div class="card bg-mustardlite">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <span>Name:</span>
                                </td>
                                <td>
                                    <span> @ViewData["firstname"] @ViewData["middlename"] @ViewData["lastname"]  </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Gender:</span>
                                </td>
                                <td>
                                    <span>@ViewData["gender"]</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Birthdate:</span>
                                </td>
                                <td>
                                    <span>@ViewData["birthdate"]</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Email:</span>
                                </td>
                                <td>
                                    <span>@ViewData["email"]</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Address:</span>
                                </td>
                                <td>
                                    <span>@ViewData["address"]</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="card bg-mustardlite">

                    <div class="card-body">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>